*{
    margin:0;padding: 0;box-sizing: border-box;
}

.admin_dashboard{
    background-color:gainsboro;
    background-size: cover;
    padding: 0;
}

.admin_dashboard .admin_header{
    padding : 100px;
    color:crimson;
    font-size : 25px;
    text-align : center;
}

.admin_dashboard .admin_container_one{
    background-color: rgba(103, 166, 228, 0.589);
    width:60vw;
    height:40vh;
    padding:25px;
    margin : 0 auto;
}

.admin_container_one h1{
    text-align: center;
    font-size: 45px;
    padding-top: 0;
    color:orangered;
    text-decoration : underline;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

hr{
    margin: 20px;
}

.admin_container_one p{
    color:black;
    font-size: 25px;
    padding-left: 30px;
    line-height: 30px;
    margin-top: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.admin_dashboard .admin_container_two{
    background-color: rgba(103, 166, 228, 0.589);
    width:60vw;
    height:60vh;
    padding:25px;
    margin : 200px auto;
}

.admin_container_two h1{

    padding : 0px;
    color:orangered;
    font-size: 40px;
    text-align: center;
    text-decoration : underline;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.admin_container_two p{

    color:black;
    font-size: 25px;
    padding : 0 10px;
    line-height: 30px;
    margin-top: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.admin_dashboard .admin_container_three{
    background-color: rgba(103, 166, 228, 0.589);
    width:60vw;
    height:40vh;
    padding:25px;
    margin : 200px auto;
}

.admin_container_three h1{

    padding : 0px;
    color:orangered;
    font-size: 40px;
    text-align: center;
    text-decoration : underline;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.admin_container_three p{
    color:black;
    font-size: 25px;
    padding : 0 10px;
    line-height: 30px;
    margin-top: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
